<footer class="sticky-footer bg-white">
    <div class="container text-center">
            <span>Programacion Web 3 20192C</span>
            <span>Alumnos: Morales - Nuñez - Barrionuevo</span>
    </div>
</footer>
