
@{
    ViewBag.Title = "MiHistorialDonaciones";
}

<h2 style="font-weight:600">Historial De Donaciones</h2>

<div class="table-responsive" style="padding: 10px;padding-top: 30px;border: 1px solid #e3e6f0;background:#fff;font-size:13px">
    <table class="table table-striped" style="border-top:none!important">
        <thead>
            <tr class="text-center" style="border:none!important; ">
                <th scope="col">Fecha de Donacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Donacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Total Recaudado</th>
                <th scope="col">Mi Donacion</th>
                <th scope="col">Detalle Propuesta</th>
            </tr>
        </thead>
        <tbody style="border-top: 1px solid #e3e6f0;" id="mostrarContenido">
        </tbody>
    </table>
</div>
<script>
    $(document).ready(
        function () {
            var cadena;
            var url='http://@HttpContext.Current.Request.Url.Authority/api/HistorialDonaciones/@ViewBag.Usuario'
            $.getJSON(url, function (data) {
                data.forEach(function (item) {
                var p = new Date(item.FechaDonacion);
                cadena+=`<tr  class="text-center">`

                    cadena += `<td>${p.getDate()}-${p.getMonth()+1}-${p.getFullYear()}</td>`
                    cadena += `<td>${item.Nombre}</td>`
                    if (item.TipoDonacion==1) {

                        cadena += `<td class="${item.TipoDonacion}">Monetaria</td>`
                    }
                    else if (item.TipoDonacion==2) {

                        cadena += `<td class="${item.TipoDonacion}">Insumos</td>`
                    }
                    else if (item.TipoDonacion==3) {

                        cadena += `<td class="${item.TipoDonacion}">Horas de Trabajo</td>`
                    }
                    if (item.Estado==0) {

                        cadena += `<td>Abierto</td>`
                    }
                    if (item.Estado==1) {

                        cadena += `<td>Cerrado</td>`
                    }

                    cadena += `<td>${item.TotalRecaudado}</td>`
                    cadena += `<td>${item.MiDonacion}</td>`
                    cadena += `<td> <a href="/Propuestas/DetallePropuesta/${item.IdPropuesta}">Ir a Propuesta</a> </td>`
                    cadena+=`</tr>`

                });


                $("#mostrarContenido").html(cadena);
            });

        }
    );
</script>

